root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
max_line_length = off
trim_trailing_whitespace = true

[*.vim]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 80

[*.js]
indent_style = space
indent_size = 4

[*.rb]
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120

[*.{yml,json}]
indent_style = space
indent_size = 2

[*.{bat,vbs,ps1}]
end_of_line = CRLF

[*.sh]
indent_style = space
indent_size = 2

[*.html]
indent_style = space
indent_size = 2

[*.tex]
indent_size = 2
tab_width = 2

[*.css]
indent_style = space
indent_size = 2

[*Makefile*]
indent_style = tab
indent_size = 4
